In [48]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [49]:
# saved the table to a csv and uploaded to pandas
pc = pd.read_csv('info.csv')
pc.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

In [50]:
# Removing "Not assigned" from "Borough" columns and resetting the indices
pc = pc[pc.Borough != 'Not assigned']
pc = pc.reset_index()
pc.head(10)

   index Postcode           Borough     Neighbourhood
0      2      M3A        North York         Parkwoods
1      3      M4A        North York  Victoria Village
2      4      M5A  Downtown Toronto      Harbourfront
3      5      M5A  Downtown Toronto       Regent Park
4      6      M6A        North York  Lawrence Heights
5      7      M6A        North York    Lawrence Manor
6      8      M7A      Queen's Park      Not assigned
7     10      M9A         Etobicoke  Islington Avenue
8     11      M1B       Scarborough             Rouge
9     12      M1B       Scarborough           Malvern

In [51]:
# Dropping the unnecessary old indices 
pc = pc.drop('index',axis=1)
pc.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Not assigned
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

In [52]:
# replacing the only "Not assigned" in the Neighbourhood column
pc.replace(to_replace='Not assigned', value="Queen's Park", inplace=True)
pc.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Queen's Park
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern